.fp{
    position:relative;
    display:inline-block;
    background-size:auto 100%;
    background-position:50%;
    background-repeat:no-repeat
}

.fp:before{
    content:"\A0"
}

.fp{
    line-height:1em;
    width:1.33333em
}

.fp.fp-square{
    line-height:1em;
    width:1em;
}

.fp.fp-rounded{
    border-radius:.16667em
}

.fp.fp-md {
	line-height:1.5em;
	width:2em;
}

.ffp.fp-md.fp-square {
	line-height: 1.5em;
	width: 1.5em;
}

.fp.fp-md.fp-rounded {
	border-radius:.25em;
}

.fp.fp-lg {
	line-height:2em;
	width:2.66667em;
}

.fp.fp-lg.fp-square {
	line-height:2em;
	width:2em;
}

.fp.fp-lg.fp-rounded {
	border-radius:.25em;
}

.ad{background-image:url(../img/flags/ad.svg)}
.ae{background-image:url(../img/flags/ae.svg)}
.af{background-image:url(../img/flags/af.svg)}
.ag{background-image:url(../img/flags/ag.svg)}
.ai{background-image:url(../img/flags/ai.svg)}
.al{background-image:url(../img/flags/al.svg)}
.am{background-image:url(../img/flags/am.svg)}
.ao{background-image:url(../img/flags/ao.svg)}
.ar{background-image:url(../img/flags/ar.svg)}
.as{background-image:url(../img/flags/as.svg)}
.at{background-image:url(../img/flags/at.svg)}
.au{background-image:url(../img/flags/au.svg)}
.aw{background-image:url(../img/flags/aw.svg)}
.ax{background-image:url(../img/flags/ax.svg)}
.az{background-image:url(../img/flags/az.svg)}
.ba{background-image:url(../img/flags/ba.svg)}
.bb{background-image:url(../img/flags/bb.svg)}
.bd{background-image:url(../img/flags/bd.svg)}
.be{background-image:url(../img/flags/be.svg)}
.bf{background-image:url(../img/flags/bf.svg)}
.bg{background-image:url(../img/flags/bg.svg)}
.bh{background-image:url(../img/flags/bh.svg)}
.bi{background-image:url(../img/flags/bi.svg)}
.bj{background-image:url(../img/flags/bj.svg)}
.bl{background-image:url(../img/flags/bl.svg)}
.bm{background-image:url(../img/flags/bm.svg)}
.bn{background-image:url(../img/flags/bn.svg)}
.bo{background-image:url(../img/flags/bo.svg)}
.bq{background-image:url(../img/flags/bq.svg)}
.br{background-image:url(../img/flags/br.svg)}
.bs{background-image:url(../img/flags/bs.svg)}
.bt{background-image:url(../img/flags/bt.svg)}
.bv{background-image:url(../img/flags/bv.svg)}
.bw{background-image:url(../img/flags/bw.svg)}
.by{background-image:url(../img/flags/by.svg)}
.bz{background-image:url(../img/flags/bz.svg)}
.ca{background-image:url(../img/flags/ca.svg)}
.cc{background-image:url(../img/flags/cc.svg)}
.cd{background-image:url(../img/flags/cd.svg)}
.cf{background-image:url(../img/flags/cf.svg)}
.cg{background-image:url(../img/flags/cg.svg)}
.ch{background-image:url(../img/flags/ch.svg)}
.ci{background-image:url(../img/flags/ci.svg)}
.ck{background-image:url(../img/flags/ck.svg)}
.cl{background-image:url(../img/flags/cl.svg)}
.cm{background-image:url(../img/flags/cm.svg)}
.cn{background-image:url(../img/flags/cn.svg)}
.co{background-image:url(../img/flags/co.svg)}
.cr{background-image:url(../img/flags/cr.svg)}
.cu{background-image:url(../img/flags/cu.svg)}
.cv{background-image:url(../img/flags/cv.svg)}
.cw{background-image:url(../img/flags/cw.svg)}
.cx{background-image:url(../img/flags/cx.svg)}
.cy{background-image:url(../img/flags/cy.svg)}
.cz{background-image:url(../img/flags/cz.svg)}
.de{background-image:url(../img/flags/de.svg)}
.dj{background-image:url(../img/flags/dj.svg)}
.dk{background-image:url(../img/flags/dk.svg)}
.dm{background-image:url(../img/flags/dm.svg)}
.do{background-image:url(../img/flags/do.svg)}
.dz{background-image:url(../img/flags/dz.svg)}
.ec{background-image:url(../img/flags/ec.svg)}
.ee{background-image:url(../img/flags/ee.svg)}
.eg{background-image:url(../img/flags/eg.svg)}
.eh{background-image:url(../img/flags/eh.svg)}
.er{background-image:url(../img/flags/er.svg)}
.es{background-image:url(../img/flags/es.svg)}
.et{background-image:url(../img/flags/et.svg)}
.eu{background-image:url(../img/flags/eu.svg)}
.fi{background-image:url(../img/flags/fi.svg)}
.fj{background-image:url(../img/flags/fj.svg)}
.fk{background-image:url(../img/flags/fk.svg)}
.fm{background-image:url(../img/flags/fm.svg)}
.fo{background-image:url(../img/flags/fo.svg)}
.fr{background-image:url(../img/flags/fr.svg)}
.ga{background-image:url(../img/flags/ga.svg)}
.gb-eng{background-image:url(../img/flags/gb-eng.svg)}
.gb-nir{background-image:url(../img/flags/gb-nir.svg)}
.gb-sct{background-image:url(../img/flags/gb-sct.svg)}
.gb-wls{background-image:url(../img/flags/gb-wls.svg)}
.gb-zet{background-image:url(../img/flags/gb-zet.svg)}
.gb{background-image:url(../img/flags/gb.svg)}
.gd{background-image:url(../img/flags/gd.svg)}
.ge{background-image:url(../img/flags/ge.svg)}
.gf{background-image:url(../img/flags/gf.svg)}
.gg{background-image:url(../img/flags/gg.svg)}
.gh{background-image:url(../img/flags/gh.svg)}
.gi{background-image:url(../img/flags/gi.svg)}
.gl{background-image:url(../img/flags/gl.svg)}
.gm{background-image:url(../img/flags/gm.svg)}
.gn{background-image:url(../img/flags/gn.svg)}
.gp{background-image:url(../img/flags/gp.svg)}
.gq{background-image:url(../img/flags/gq.svg)}
.gr{background-image:url(../img/flags/gr.svg)}
.gs{background-image:url(../img/flags/gs.svg)}
.gt{background-image:url(../img/flags/gt.svg)}
.gu{background-image:url(../img/flags/gu.svg)}
.gw{background-image:url(../img/flags/gw.svg)}
.gy{background-image:url(../img/flags/gy.svg)}
.hk{background-image:url(../img/flags/hk.svg)}
.hm{background-image:url(../img/flags/hm.svg)}
.hn{background-image:url(../img/flags/hn.svg)}
.hr{background-image:url(../img/flags/hr.svg)}
.ht{background-image:url(../img/flags/ht.svg)}
.hu{background-image:url(../img/flags/hu.svg)}
.id{background-image:url(../img/flags/id.svg)}
.ie{background-image:url(../img/flags/ie.svg)}
.il{background-image:url(../img/flags/il.svg)}
.im{background-image:url(../img/flags/im.svg)}
.in{background-image:url(../img/flags/in.svg)}
.io{background-image:url(../img/flags/io.svg)}
.iq{background-image:url(../img/flags/iq.svg)}
.ir{background-image:url(../img/flags/ir.svg)}
.is{background-image:url(../img/flags/is.svg)}
.it{background-image:url(../img/flags/it.svg)}
.je{background-image:url(../img/flags/je.svg)}
.jm{background-image:url(../img/flags/jm.svg)}
.jo{background-image:url(../img/flags/jo.svg)}
.jp{background-image:url(../img/flags/jp.svg)}
.ke{background-image:url(../img/flags/ke.svg)}
.kg{background-image:url(../img/flags/kg.svg)}
.kh{background-image:url(../img/flags/kh.svg)}
.ki{background-image:url(../img/flags/ki.svg)}
.km{background-image:url(../img/flags/km.svg)}
.kn{background-image:url(../img/flags/kn.svg)}
.kp{background-image:url(../img/flags/kp.svg)}
.kr{background-image:url(../img/flags/kr.svg)}
.kw{background-image:url(../img/flags/kw.svg)}
.ky{background-image:url(../img/flags/ky.svg)}
.kz{background-image:url(../img/flags/kz.svg)}
.la{background-image:url(../img/flags/la.svg)}
.lb{background-image:url(../img/flags/lb.svg)}
.lc{background-image:url(../img/flags/lc.svg)}
.lgbt{background-image:url(../img/flags/lgbt.svg)}
.li{background-image:url(../img/flags/li.svg)}
.lk{background-image:url(../img/flags/lk.svg)}
.lr{background-image:url(../img/flags/lr.svg)}
.ls{background-image:url(../img/flags/ls.svg)}
.lt{background-image:url(../img/flags/lt.svg)}
.lu{background-image:url(../img/flags/lu.svg)}
.lv{background-image:url(../img/flags/lv.svg)}
.ly{background-image:url(../img/flags/ly.svg)}
.ma{background-image:url(../img/flags/ma.svg)}
.mc{background-image:url(../img/flags/mc.svg)}
.md{background-image:url(../img/flags/md.svg)}
.me{background-image:url(../img/flags/me.svg)}
.mf{background-image:url(../img/flags/mf.svg)}
.mg{background-image:url(../img/flags/mg.svg)}
.mh{background-image:url(../img/flags/mh.svg)}
.mk{background-image:url(../img/flags/mk.svg)}
.ml{background-image:url(../img/flags/ml.svg)}
.mm{background-image:url(../img/flags/mm.svg)}
.mn{background-image:url(../img/flags/mn.svg)}
.mo{background-image:url(../img/flags/mo.svg)}
.mp{background-image:url(../img/flags/mp.svg)}
.mq{background-image:url(../img/flags/mq.svg)}
.mr{background-image:url(../img/flags/mr.svg)}
.ms{background-image:url(../img/flags/ms.svg)}
.mt{background-image:url(../img/flags/mt.svg)}
.mu{background-image:url(../img/flags/mu.svg)}
.mv{background-image:url(../img/flags/mv.svg)}
.mw{background-image:url(../img/flags/mw.svg)}
.mx{background-image:url(../img/flags/mx.svg)}
.my{background-image:url(../img/flags/my.svg)}
.mz{background-image:url(../img/flags/mz.svg)}
.na{background-image:url(../img/flags/na.svg)}
.nc{background-image:url(../img/flags/nc.svg)}
.ne{background-image:url(../img/flags/ne.svg)}
.nf{background-image:url(../img/flags/nf.svg)}
.ng{background-image:url(../img/flags/ng.svg)}
.ni{background-image:url(../img/flags/ni.svg)}
.nl{background-image:url(../img/flags/nl.svg)}
.no{background-image:url(../img/flags/no.svg)}
.np{background-image:url(../img/flags/np.svg)}
.nr{background-image:url(../img/flags/nr.svg)}
.nu{background-image:url(../img/flags/nu.svg)}
.nz{background-image:url(../img/flags/nz.svg)}
.om{background-image:url(../img/flags/om.svg)}
.pa{background-image:url(../img/flags/pa.svg)}
.pe{background-image:url(../img/flags/pe.svg)}
.pf{background-image:url(../img/flags/pf.svg)}
.pg{background-image:url(../img/flags/pg.svg)}
.ph{background-image:url(../img/flags/ph.svg)}
.pk{background-image:url(../img/flags/pk.svg)}
.pl{background-image:url(../img/flags/pl.svg)}
.pm{background-image:url(../img/flags/pm.svg)}
.pn{background-image:url(../img/flags/pn.svg)}
.pr{background-image:url(../img/flags/pr.svg)}
.ps{background-image:url(../img/flags/ps.svg)}
.pt{background-image:url(../img/flags/pt.svg)}
.pw{background-image:url(../img/flags/pw.svg)}
.py{background-image:url(../img/flags/py.svg)}
.qa{background-image:url(../img/flags/qa.svg)}
.re{background-image:url(../img/flags/re.svg)}
.ro{background-image:url(../img/flags/ro.svg)}
.rs{background-image:url(../img/flags/rs.svg)}
.ru{background-image:url(../img/flags/ru.svg)}
.rw{background-image:url(../img/flags/rw.svg)}
.sa{background-image:url(../img/flags/sa.svg)}
.sb{background-image:url(../img/flags/sb.svg)}
.sc{background-image:url(../img/flags/sc.svg)}
.sd{background-image:url(../img/flags/sd.svg)}
.se{background-image:url(../img/flags/se.svg)}
.sg{background-image:url(../img/flags/sg.svg)}
.sh{background-image:url(../img/flags/sh.svg)}
.si{background-image:url(../img/flags/si.svg)}
.sj{background-image:url(../img/flags/sj.svg)}
.sk{background-image:url(../img/flags/sk.svg)}
.sl{background-image:url(../img/flags/sl.svg)}
.sm{background-image:url(../img/flags/sm.svg)}
.sn{background-image:url(../img/flags/sn.svg)}
.so{background-image:url(../img/flags/so.svg)}
.sr{background-image:url(../img/flags/sr.svg)}
.ss{background-image:url(../img/flags/ss.svg)}
.st{background-image:url(../img/flags/st.svg)}
.sv{background-image:url(../img/flags/sv.svg)}
.sx{background-image:url(../img/flags/sx.svg)}
.sy{background-image:url(../img/flags/sy.svg)}
.sz{background-image:url(../img/flags/sz.svg)}
.tc{background-image:url(../img/flags/tc.svg)}
.td{background-image:url(../img/flags/td.svg)}
.tf{background-image:url(../img/flags/tf.svg)}
.tg{background-image:url(../img/flags/tg.svg)}
.th{background-image:url(../img/flags/th.svg)}
.tj{background-image:url(../img/flags/tj.svg)}
.tk{background-image:url(../img/flags/tk.svg)}
.tl{background-image:url(../img/flags/tl.svg)}
.tm{background-image:url(../img/flags/tm.svg)}
.tn{background-image:url(../img/flags/tn.svg)}
.to{background-image:url(../img/flags/to.svg)}
.tr{background-image:url(../img/flags/tr.svg)}
.tt{background-image:url(../img/flags/tt.svg)}
.tv{background-image:url(../img/flags/tv.svg)}
.tw{background-image:url(../img/flags/tw.svg)}
.tz{background-image:url(../img/flags/tz.svg)}
.ua{background-image:url(../img/flags/ua.svg)}
.ug{background-image:url(../img/flags/ug.svg)}
.um{background-image:url(../img/flags/um.svg)}
.us{background-image:url(../img/flags/us.svg)}
.uy{background-image:url(../img/flags/uy.svg)}
.uz{background-image:url(../img/flags/uz.svg)}
.va{background-image:url(../img/flags/va.svg)}
.vc{background-image:url(../img/flags/vc.svg)}
.ve{background-image:url(../img/flags/ve.svg)}
.vg{background-image:url(../img/flags/vg.svg)}
.vi{background-image:url(../img/flags/vi.svg)}
.vn{background-image:url(../img/flags/vn.svg)}
.vu{background-image:url(../img/flags/vu.svg)}
.wf{background-image:url(../img/flags/wf.svg)}
.ws{background-image:url(../img/flags/ws.svg)}
.xk{background-image:url(../img/flags/xk.svg)}
.ye{background-image:url(../img/flags/ye.svg)}
.yt{background-image:url(../img/flags/yt.svg)}
.za{background-image:url(../img/flags/za.svg)}
.zm{background-image:url(../img/flags/zm.svg)}
.zw{background-image:url(../img/flags/zw.svg)}

.ad.fp-square{background-image:url(../img/flags/ad_square.svg)}
.ae.fp-square{background-image:url(../img/flags/ae_square.svg)}
.af.fp-square{background-image:url(../img/flags/af_square.svg)}
.ag.fp-square{background-image:url(../img/flags/ag_square.svg)}
.ai.fp-square{background-image:url(../img/flags/ai_square.svg)}
.al.fp-square{background-image:url(../img/flags/al_square.svg)}
.am.fp-square{background-image:url(../img/flags/am_square.svg)}
.ao.fp-square{background-image:url(../img/flags/ao_square.svg)}
.ar.fp-square{background-image:url(../img/flags/ar_square.svg)}
.as.fp-square{background-image:url(../img/flags/as_square.svg)}
.at.fp-square{background-image:url(../img/flags/at_square.svg)}
.au.fp-square{background-image:url(../img/flags/au_square.svg)}
.aw.fp-square{background-image:url(../img/flags/aw_square.svg)}
.ax.fp-square{background-image:url(../img/flags/ax_square.svg)}
.az.fp-square{background-image:url(../img/flags/az_square.svg)}
.ba.fp-square{background-image:url(../img/flags/ba_square.svg)}
.bb.fp-square{background-image:url(../img/flags/bb_square.svg)}
.bd.fp-square{background-image:url(../img/flags/bd_square.svg)}
.be.fp-square{background-image:url(../img/flags/be_square.svg)}
.bf.fp-square{background-image:url(../img/flags/bf_square.svg)}
.bg.fp-square{background-image:url(../img/flags/bg_square.svg)}
.bh.fp-square{background-image:url(../img/flags/bh_square.svg)}
.bi.fp-square{background-image:url(../img/flags/bi_square.svg)}
.bj.fp-square{background-image:url(../img/flags/bj_square.svg)}
.bl.fp-square{background-image:url(../img/flags/bl_square.svg)}
.bm.fp-square{background-image:url(../img/flags/bm_square.svg)}
.bn.fp-square{background-image:url(../img/flags/bn_square.svg)}
.bo.fp-square{background-image:url(../img/flags/bo_square.svg)}
.bq.fp-square{background-image:url(../img/flags/bq_square.svg)}
.br.fp-square{background-image:url(../img/flags/br_square.svg)}
.bs.fp-square{background-image:url(../img/flags/bs_square.svg)}
.bt.fp-square{background-image:url(../img/flags/bt_square.svg)}
.bv.fp-square{background-image:url(../img/flags/bv_square.svg)}
.bw.fp-square{background-image:url(../img/flags/bw_square.svg)}
.by.fp-square{background-image:url(../img/flags/by_square.svg)}
.bz.fp-square{background-image:url(../img/flags/bz_square.svg)}
.ca.fp-square{background-image:url(../img/flags/ca_square.svg)}
.cc.fp-square{background-image:url(../img/flags/cc_square.svg)}
.cd.fp-square{background-image:url(../img/flags/cd_square.svg)}
.cf.fp-square{background-image:url(../img/flags/cf_square.svg)}
.cg.fp-square{background-image:url(../img/flags/cg_square.svg)}
.ch.fp-square{background-image:url(../img/flags/ch_square.svg)}
.ci.fp-square{background-image:url(../img/flags/ci_square.svg)}
.ck.fp-square{background-image:url(../img/flags/ck_square.svg)}
.cl.fp-square{background-image:url(../img/flags/cl_square.svg)}
.cm.fp-square{background-image:url(../img/flags/cm_square.svg)}
.cn.fp-square{background-image:url(../img/flags/cn_square.svg)}
.co.fp-square{background-image:url(../img/flags/co_square.svg)}
.cr.fp-square{background-image:url(../img/flags/cr_square.svg)}
.cu.fp-square{background-image:url(../img/flags/cu_square.svg)}
.cv.fp-square{background-image:url(../img/flags/cv_square.svg)}
.cw.fp-square{background-image:url(../img/flags/cw_square.svg)}
.cx.fp-square{background-image:url(../img/flags/cx_square.svg)}
.cy.fp-square{background-image:url(../img/flags/cy_square.svg)}
.cz.fp-square{background-image:url(../img/flags/cz_square.svg)}
.de.fp-square{background-image:url(../img/flags/de_square.svg)}
.dj.fp-square{background-image:url(../img/flags/dj_square.svg)}
.dk.fp-square{background-image:url(../img/flags/dk_square.svg)}
.dm.fp-square{background-image:url(../img/flags/dm_square.svg)}
.do.fp-square{background-image:url(../img/flags/do_square.svg)}
.dz.fp-square{background-image:url(../img/flags/dz_square.svg)}
.ec.fp-square{background-image:url(../img/flags/ec_square.svg)}
.ee.fp-square{background-image:url(../img/flags/ee_square.svg)}
.eg.fp-square{background-image:url(../img/flags/eg_square.svg)}
.eh.fp-square{background-image:url(../img/flags/eh_square.svg)}
.er.fp-square{background-image:url(../img/flags/er_square.svg)}
.es.fp-square{background-image:url(../img/flags/es_square.svg)}
.et.fp-square{background-image:url(../img/flags/et_square.svg)}
.eu.fp-square{background-image:url(../img/flags/eu_square.svg)}
.fi.fp-square{background-image:url(../img/flags/fi_square.svg)}
.fj.fp-square{background-image:url(../img/flags/fj_square.svg)}
.fk.fp-square{background-image:url(../img/flags/fk_square.svg)}
.fm.fp-square{background-image:url(../img/flags/fm_square.svg)}
.fo.fp-square{background-image:url(../img/flags/fo_square.svg)}
.fr.fp-square{background-image:url(../img/flags/fr_square.svg)}
.ga.fp-square{background-image:url(../img/flags/ga_square.svg)}
.gb-eng.fp-square{background-image:url(../img/flags/gb-eng_square.svg)}
.gb-nir.fp-square{background-image:url(../img/flags/gb-nir_square.svg)}
.gb-sct.fp-square{background-image:url(../img/flags/gb-sct_square.svg)}
.gb-wls.fp-square{background-image:url(../img/flags/gb-wls_square.svg)}
.gb-zet.fp-square{background-image:url(../img/flags/gb-zet_square.svg)}
.gb.fp-square{background-image:url(../img/flags/gb_square.svg)}
.gd.fp-square{background-image:url(../img/flags/gd_square.svg)}
.ge.fp-square{background-image:url(../img/flags/ge_square.svg)}
.gf.fp-square{background-image:url(../img/flags/gf_square.svg)}
.gg.fp-square{background-image:url(../img/flags/gg_square.svg)}
.gh.fp-square{background-image:url(../img/flags/gh_square.svg)}
.gi.fp-square{background-image:url(../img/flags/gi_square.svg)}
.gl.fp-square{background-image:url(../img/flags/gl_square.svg)}
.gm.fp-square{background-image:url(../img/flags/gm_square.svg)}
.gn.fp-square{background-image:url(../img/flags/gn_square.svg)}
.gp.fp-square{background-image:url(../img/flags/gp_square.svg)}
.gq.fp-square{background-image:url(../img/flags/gq_square.svg)}
.gr.fp-square{background-image:url(../img/flags/gr_square.svg)}
.gs.fp-square{background-image:url(../img/flags/gs_square.svg)}
.gt.fp-square{background-image:url(../img/flags/gt_square.svg)}
.gu.fp-square{background-image:url(../img/flags/gu_square.svg)}
.gw.fp-square{background-image:url(../img/flags/gw_square.svg)}
.gy.fp-square{background-image:url(../img/flags/gy_square.svg)}
.hk.fp-square{background-image:url(../img/flags/hk_square.svg)}
.hm.fp-square{background-image:url(../img/flags/hm_square.svg)}
.hn.fp-square{background-image:url(../img/flags/hn_square.svg)}
.hr.fp-square{background-image:url(../img/flags/hr_square.svg)}
.ht.fp-square{background-image:url(../img/flags/ht_square.svg)}
.hu.fp-square{background-image:url(../img/flags/hu_square.svg)}
.id.fp-square{background-image:url(../img/flags/id_square.svg)}
.ie.fp-square{background-image:url(../img/flags/ie_square.svg)}
.il.fp-square{background-image:url(../img/flags/il_square.svg)}
.im.fp-square{background-image:url(../img/flags/im_square.svg)}
.in.fp-square{background-image:url(../img/flags/in_square.svg)}
.io.fp-square{background-image:url(../img/flags/io_square.svg)}
.iq.fp-square{background-image:url(../img/flags/iq_square.svg)}
.ir.fp-square{background-image:url(../img/flags/ir_square.svg)}
.is.fp-square{background-image:url(../img/flags/is_square.svg)}
.it.fp-square{background-image:url(../img/flags/it_square.svg)}
.je.fp-square{background-image:url(../img/flags/je_square.svg)}
.jm.fp-square{background-image:url(../img/flags/jm_square.svg)}
.jo.fp-square{background-image:url(../img/flags/jo_square.svg)}
.jp.fp-square{background-image:url(../img/flags/jp_square.svg)}
.ke.fp-square{background-image:url(../img/flags/ke_square.svg)}
.kg.fp-square{background-image:url(../img/flags/kg_square.svg)}
.kh.fp-square{background-image:url(../img/flags/kh_square.svg)}
.ki.fp-square{background-image:url(../img/flags/ki_square.svg)}
.km.fp-square{background-image:url(../img/flags/km_square.svg)}
.kn.fp-square{background-image:url(../img/flags/kn_square.svg)}
.kp.fp-square{background-image:url(../img/flags/kp_square.svg)}
.kr.fp-square{background-image:url(../img/flags/kr_square.svg)}
.kw.fp-square{background-image:url(../img/flags/kw_square.svg)}
.ky.fp-square{background-image:url(../img/flags/ky_square.svg)}
.kz.fp-square{background-image:url(../img/flags/kz_square.svg)}
.la.fp-square{background-image:url(../img/flags/la_square.svg)}
.lb.fp-square{background-image:url(../img/flags/lb_square.svg)}
.lc.fp-square{background-image:url(../img/flags/lc_square.svg)}
.lgbt.fp-square{background-image:url(../img/flags/lgbt_square.svg)}
.li.fp-square{background-image:url(../img/flags/li_square.svg)}
.lk.fp-square{background-image:url(../img/flags/lk_square.svg)}
.lr.fp-square{background-image:url(../img/flags/lr_square.svg)}
.ls.fp-square{background-image:url(../img/flags/ls_square.svg)}
.lt.fp-square{background-image:url(../img/flags/lt_square.svg)}
.lu.fp-square{background-image:url(../img/flags/lu_square.svg)}
.lv.fp-square{background-image:url(../img/flags/lv_square.svg)}
.ly.fp-square{background-image:url(../img/flags/ly_square.svg)}
.ma.fp-square{background-image:url(../img/flags/ma_square.svg)}
.mc.fp-square{background-image:url(../img/flags/mc_square.svg)}
.md.fp-square{background-image:url(../img/flags/md_square.svg)}
.me.fp-square{background-image:url(../img/flags/me_square.svg)}
.mf.fp-square{background-image:url(../img/flags/mf_square.svg)}
.mg.fp-square{background-image:url(../img/flags/mg_square.svg)}
.mh.fp-square{background-image:url(../img/flags/mh_square.svg)}
.mk.fp-square{background-image:url(../img/flags/mk_square.svg)}
.ml.fp-square{background-image:url(../img/flags/ml_square.svg)}
.mm.fp-square{background-image:url(../img/flags/mm_square.svg)}
.mn.fp-square{background-image:url(../img/flags/mn_square.svg)}
.mo.fp-square{background-image:url(../img/flags/mo_square.svg)}
.mp.fp-square{background-image:url(../img/flags/mp_square.svg)}
.mq.fp-square{background-image:url(../img/flags/mq_square.svg)}
.mr.fp-square{background-image:url(../img/flags/mr_square.svg)}
.ms.fp-square{background-image:url(../img/flags/ms_square.svg)}
.mt.fp-square{background-image:url(../img/flags/mt_square.svg)}
.mu.fp-square{background-image:url(../img/flags/mu_square.svg)}
.mv.fp-square{background-image:url(../img/flags/mv_square.svg)}
.mw.fp-square{background-image:url(../img/flags/mw_square.svg)}
.mx.fp-square{background-image:url(../img/flags/mx_square.svg)}
.my.fp-square{background-image:url(../img/flags/my_square.svg)}
.mz.fp-square{background-image:url(../img/flags/mz_square.svg)}
.na.fp-square{background-image:url(../img/flags/na_square.svg)}
.nc.fp-square{background-image:url(../img/flags/nc_square.svg)}
.ne.fp-square{background-image:url(../img/flags/ne_square.svg)}
.nf.fp-square{background-image:url(../img/flags/nf_square.svg)}
.ng.fp-square{background-image:url(../img/flags/ng_square.svg)}
.ni.fp-square{background-image:url(../img/flags/ni_square.svg)}
.nl.fp-square{background-image:url(../img/flags/nl_square.svg)}
.no.fp-square{background-image:url(../img/flags/no_square.svg)}
.np.fp-square{background-image:url(../img/flags/np_square.svg)}
.nr.fp-square{background-image:url(../img/flags/nr_square.svg)}
.nu.fp-square{background-image:url(../img/flags/nu_square.svg)}
.nz.fp-square{background-image:url(../img/flags/nz_square.svg)}
.om.fp-square{background-image:url(../img/flags/om_square.svg)}
.pa.fp-square{background-image:url(../img/flags/pa_square.svg)}
.pe.fp-square{background-image:url(../img/flags/pe_square.svg)}
.pf.fp-square{background-image:url(../img/flags/pf_square.svg)}
.pg.fp-square{background-image:url(../img/flags/pg_square.svg)}
.ph.fp-square{background-image:url(../img/flags/ph_square.svg)}
.pk.fp-square{background-image:url(../img/flags/pk_square.svg)}
.pl.fp-square{background-image:url(../img/flags/pl_square.svg)}
.pm.fp-square{background-image:url(../img/flags/pm_square.svg)}
.pn.fp-square{background-image:url(../img/flags/pn_square.svg)}
.pr.fp-square{background-image:url(../img/flags/pr_square.svg)}
.ps.fp-square{background-image:url(../img/flags/ps_square.svg)}
.pt.fp-square{background-image:url(../img/flags/pt_square.svg)}
.pw.fp-square{background-image:url(../img/flags/pw_square.svg)}
.py.fp-square{background-image:url(../img/flags/py_square.svg)}
.qa.fp-square{background-image:url(../img/flags/qa_square.svg)}
.re.fp-square{background-image:url(../img/flags/re_square.svg)}
.ro.fp-square{background-image:url(../img/flags/ro_square.svg)}
.rs.fp-square{background-image:url(../img/flags/rs_square.svg)}
.ru.fp-square{background-image:url(../img/flags/ru_square.svg)}
.rw.fp-square{background-image:url(../img/flags/rw_square.svg)}
.sa.fp-square{background-image:url(../img/flags/sa_square.svg)}
.sb.fp-square{background-image:url(../img/flags/sb_square.svg)}
.sc.fp-square{background-image:url(../img/flags/sc_square.svg)}
.sd.fp-square{background-image:url(../img/flags/sd_square.svg)}
.se.fp-square{background-image:url(../img/flags/se_square.svg)}
.sg.fp-square{background-image:url(../img/flags/sg_square.svg)}
.sh.fp-square{background-image:url(../img/flags/sh_square.svg)}
.si.fp-square{background-image:url(../img/flags/si_square.svg)}
.sj.fp-square{background-image:url(../img/flags/sj_square.svg)}
.sk.fp-square{background-image:url(../img/flags/sk_square.svg)}
.sl.fp-square{background-image:url(../img/flags/sl_square.svg)}
.sm.fp-square{background-image:url(../img/flags/sm_square.svg)}
.sn.fp-square{background-image:url(../img/flags/sn_square.svg)}
.so.fp-square{background-image:url(../img/flags/so_square.svg)}
.sr.fp-square{background-image:url(../img/flags/sr_square.svg)}
.ss.fp-square{background-image:url(../img/flags/ss_square.svg)}
.st.fp-square{background-image:url(../img/flags/st_square.svg)}
.sv.fp-square{background-image:url(../img/flags/sv_square.svg)}
.sx.fp-square{background-image:url(../img/flags/sx_square.svg)}
.sy.fp-square{background-image:url(../img/flags/sy_square.svg)}
.sz.fp-square{background-image:url(../img/flags/sz_square.svg)}
.tc.fp-square{background-image:url(../img/flags/tc_square.svg)}
.td.fp-square{background-image:url(../img/flags/td_square.svg)}
.tf.fp-square{background-image:url(../img/flags/tf_square.svg)}
.tg.fp-square{background-image:url(../img/flags/tg_square.svg)}
.th.fp-square{background-image:url(../img/flags/th_square.svg)}
.tj.fp-square{background-image:url(../img/flags/tj_square.svg)}
.tk.fp-square{background-image:url(../img/flags/tk_square.svg)}
.tl.fp-square{background-image:url(../img/flags/tl_square.svg)}
.tm.fp-square{background-image:url(../img/flags/tm_square.svg)}
.tn.fp-square{background-image:url(../img/flags/tn_square.svg)}
.to.fp-square{background-image:url(../img/flags/to_square.svg)}
.tr.fp-square{background-image:url(../img/flags/tr_square.svg)}
.tt.fp-square{background-image:url(../img/flags/tt_square.svg)}
.tv.fp-square{background-image:url(../img/flags/tv_square.svg)}
.tw.fp-square{background-image:url(../img/flags/tw_square.svg)}
.tz.fp-square{background-image:url(../img/flags/tz_square.svg)}
.ua.fp-square{background-image:url(../img/flags/ua_square.svg)}
.ug.fp-square{background-image:url(../img/flags/ug_square.svg)}
.um.fp-square{background-image:url(../img/flags/um_square.svg)}
.us.fp-square{background-image:url(../img/flags/us_square.svg)}
.uy.fp-square{background-image:url(../img/flags/uy_square.svg)}
.uz.fp-square{background-image:url(../img/flags/uz_square.svg)}
.va.fp-square{background-image:url(../img/flags/va_square.svg)}
.vc.fp-square{background-image:url(../img/flags/vc_square.svg)}
.ve.fp-square{background-image:url(../img/flags/ve_square.svg)}
.vg.fp-square{background-image:url(../img/flags/vg_square.svg)}
.vi.fp-square{background-image:url(../img/flags/vi_square.svg)}
.vn.fp-square{background-image:url(../img/flags/vn_square.svg)}
.vu.fp-square{background-image:url(../img/flags/vu_square.svg)}
.wf.fp-square{background-image:url(../img/flags/wf_square.svg)}
.ws.fp-square{background-image:url(../img/flags/ws_square.svg)}
.xk.fp-square{background-image:url(../img/flags/xk_square.svg)}
.ye.fp-square{background-image:url(../img/flags/ye_square.svg)}
.yt.fp-square{background-image:url(../img/flags/yt_square.svg)}
.za.fp-square{background-image:url(../img/flags/za_square.svg)}
.zm.fp-square{background-image:url(../img/flags/zm_square.svg)}
.zw.fp-square{background-image:url(../img/flags/zw_square.svg)}
