.top-searchbar {
	color: #fff;
	background-color: rgba(255, 255, 255, .1);
	border-color: rgba(255, 255, 255, .1);

	display: block;
	height: calc(1.5em + .75rem + 2px);
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;


	padding: .75rem 1rem;
	border-width: 0;
	border-radius: 0;
}

table.fixedheader th {
	position: sticky;
	top: 0px;
	background: white; /* prevent transparent during scrolling */
}
