<!doctype html>
<html>
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.5.0-dist/css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

		<!-- Country Flags -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/flags.css') }}">

		<!-- Map -->
		<link rel="stylesheet" href="{{ url_for('static', filename='leaflet/leaflet.css') }}">
		<script src="{{ url_for('static', filename='leaflet/leaflet.js') }}"></script>

		<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo_sm.png') }}" />
		<title>{% block title %}SQLog{% endblock %}</title>
	</head>
	<body>
		<div class="container-fluid min-100 d-flex flex-column">
		{% block nav %}
		<nav class="row navbar navbar-expand-lg navbar-dark bg-dark flex-shrink-0">
			<a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='img/logo_sm.png') }}" width="30" height="30" class="d-inline-block align-top" alt=""> SQLog</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item {{ nav_active('logbook') }}"><a class="nav-link" href="{{ url_for('logbook') }}">Logbook</a></li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle {{ nav_active(('qso_import', 'qso_show')) }}" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown">QSOs</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#">New QSO</a>
							<a class="dropdown-item" href="#">Write QSL Cards</a>
							<a class="dropdown-item" href="{{ url_for('qso_import') }}">Import QSOs</a>
							<a class="dropdown-item" href="#">Export QSOs</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle {{ nav_active(('summits', 'sota_refresh')) }}" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown">SOTA</a>
						<div class="dropdown-menu">
						<a class="dropdown-item" href="{{ url_for('summits') }}">My Summits</a>
						<a class="dropdown-item" href="{{ url_for('sota_refresh') }}">Refresh SOTA Summits</a>
						</div>
					</li>
				</ul>
				<form class="form-inline flex-fill" method="GET" action="{{ url_for('logbook') }}">
					<input type="text" spellcheck="false" name="s" id="s" value="{{ s }}" class="form-control top-searchbar" placeholder="Search">
				</form>
			</div>
		</nav>
		{% endblock %}
		<div class="row flex-grow-1" style="position: relative;">
		{% block body %}
		{% endblock %}
		</div>
		</div>

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="{{ url_for('static', filename='js/jquery-3.5.1.slim.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
		<script src="{{ url_for('static', filename='bootstrap-4.5.0-dist/js/bootstrap.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/sqlog.js') }}"></script>
	</body>
</html>
