{% extends 'base.html' %}

{% block body %}
	<script type="text/javascript">
		function sota_refresh() {
			var source = new EventSource("{{ url_for('sota_refresh', refresh=1) }}");
			source.onmessage = function(event) {
			var e = JSON.parse(event.data);
			if (typeof(e) == 'string') {
				document.getElementById("result").innerHTML += e;
			}
			else if (typeof(e) == 'object' && 'close' in e && e['close']) {
				source.close();
			}
		};
	}
	</script>
	<div style="margin: 10px; width: 100%;">
		<button type="button" class="btn btn-primary" onclick="sota_refresh()">Update SOTA Summits</button>
	</div>
	<div style="margin: 10px;">
		<pre><code id="result"></code></pre>
	</div>
{% endblock %}
